*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */
[class*="col-"]{
    background-color: rgba(44,62,80,255);
    height: 40px;
}

[class*="row"]{
    background-color: rgba(26,188,156,255);
    
}

/* style */

/* debug griglia */
/* col margin */
.cl_margin-tb{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cl_margin-lr{
    margin-left: 10px;
    margin-right: 10px;
}

/* rw margin */
.rw_margin-tb{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* container margin */
.cn_margin-tb{
    margin-top: 40px;
}

